# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: '.pio/|CMSIS/|GUI/AlbertaLoop_UI.py'
repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: check-added-large-files
    -   id: check-docstring-first
    -   id: check-json
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.1
    hooks:
    -   id: clang-format
-   repo: https://github.com/cpplint/cpplint
    rev: 1.6.0
    hooks:
    -   id: cpplint
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    -   id: black
